# Maven

# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  name: URL
  value: "https://dev.azure.com/angiorganashvili/angiorganashvili/_build/results?buildId='$(Build.BuildId)'&view=ms.vss-test-web.build-test-results-tab"

steps:
- script: |
    echo $(Build.BuildId)
    echo $(System.TeamProject)
    echo $(System.CollectionId)
    echo $(Build.BuildNumber)

# - task: Maven@3
#   inputs:
#     mavenPomFile: 'pom.xml'
#     mavenOptions: '-Xmx3072m'
#     javaHomeOption: 'JDKVersion'
#     jdkVersionOption: '1.8'
#     jdkArchitectureOption: 'x64'
#     publishJUnitResults: true
#     testResultsFiles: '**/surefire-reports/TEST-*.xml'
#     goals: 'package'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      URL='"https://dev.azure.com/'$System.CollectionId'/'$System.TeamProject'/_build/results?buildId='$Build.BuildNumber'&view=ms.vss-test-web.build-test-results-tab"'
      
      SLACK_PAYLOAD='{"blocks":[{"type":"section","text":{"type":"plain_text","text":"UI ტესტირება დასრულებულია","emoji":true}},{"type":"actions","elements":[{"type":"button","url":$URL,"text":{"type":"plain_text","text":"ნახე შედეგები","emoji":true},"value":"ნახე შედეგები"}]}]}'
      
      echo $URL
      
      curl -X POST -H 'Content-type: application/json' --data $SLACK_PAYLOAD $DAVID_URL


# - task: Bash@3
#   inputs:
#     targetType: 'inline'
#     script: |
#       sudo apt install unzip
#       wget https://repo1.maven.org/maven2/io/qameta/allure/allure-commandline/2.13.5/allure-commandline-2.13.5.zip
#       unzip allure-commandline-2.13.5.zip


# - task: Bash@3
#   continueOnError: true
#   inputs:
#     targetType: 'inline'
#     script: |
#       # check allure
#       ./allure-2.13.5/bin/allure --version
#       # run allure
#       ./allure-2.13.5/bin/allure generate --output /home/vsts/work/1/s/allure-report/$(Build.BuildNumber) /home/vsts/work/1/s/target/allure-results
      
#       ls /home/vsts/work/1/s/allure-report/$(Build.BuildNumber)/
      
#       cat /home/vsts/work/1/s/allure-report/$(Build.BuildNumber)/index.html

# - task: AllureGenerate@1
#   inputs:
#     resultsDir: 'target/allure-results'
#     targetDir: 'allure-report/$(Build.BuildNumber)'
# - task: publishHtml@1
#   inputs:
#     artifactName: 'Allure Reports'
#     htmlFilePath: '/home/vsts/work/1/s/allure-report/$(Build.BuildNumber)/index.html'