# Maven

# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'


steps:

- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      sudo apt-add-repository ppa:qameta/allure -y
      sudo apt-get update -y
      sudo apt-get install -y allure

- task: Bash@3
  # continueOnError: true
  inputs:
    targetType: 'inline'
    script: |
      # check allure
      allure --version
      # run allure
      node allure generate --output /home/vsts/work/1/s/allure-report/$(Build.BuildNumber) /home/vsts/work/1/s/target/allure-results
      
- task: publishHtml@1
  inputs:
    artifactName: 'Allure Reports'
    htmlFilePath: '/home/vsts/work/1/s/allure-report/$(Build.BuildNumber)/index.html'